<div class="modal" id="message_window">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message is-dark">
      <div class="message-body" id="message_content"></div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

